# Nodejs
/node_modules
/dist

# Editors
.vscode/*
!.vscode/launch.json

# Yarn
.yarn
yarn-error*

# Important data
/database.db*
/.env

# Other stuff
/src.old
.log

# Some random thins in my pc :)
/ignore